<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @service.type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @service.location %>
</p>

<p>
  <strong>Server:</strong>
  <%= @service.server_id %>
</p>

<p>
  <strong>Webserver:</strong>
  <%= @service.webserver_id %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @service.cluster_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @service.user_id %>
</p>

<p>
  <strong>Distribution:</strong>
  <%= @service.distribution %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @service.cluster %>
</p>

<p>
  <strong>Replication:</strong>
  <%= @service.replication %>
</p>

<p>
  <strong>Authority:</strong>
  <%= @service.authority %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @service.purpose %>
</p>

<p>
  <strong>Watchdog:</strong>
  <%= @service.watchdog %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @service.pid %>
</p>

<p>
  <strong>Criticality:</strong>
  <%= @service.criticality %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @service.priority %>
</p>

<p>
  <strong>Network:</strong>
  <%= @service.network_id %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @service.manager_id %>
</p>

<p>
  <strong>Devops:</strong>
  <%= @service.devops_id %>
</p>

<p>
  <strong>Configuration:</strong>
  <%= @service.configuration %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
