<p id="notice"><%= notice %></p>

<h1>Listing Clusterbots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hostname</th>
      <th>Ip</th>
      <th>Cluster</th>
      <th>Uptime</th>
      <th>Configuration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clusterbots.each do |clusterbot| %>
      <tr>
        <td><%= clusterbot.name %></td>
        <td><%= clusterbot.hostname %></td>
        <td><%= clusterbot.ip %></td>
        <td><%= clusterbot.cluster_id %></td>
        <td><%= clusterbot.uptime %></td>
        <td><%= clusterbot.configuration %></td>
        <td><%= link_to 'Show', clusterbot %></td>
        <td><%= link_to 'Edit', edit_clusterbot_path(clusterbot) %></td>
        <td><%= link_to 'Destroy', clusterbot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clusterbot', new_clusterbot_path %>
