<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @source.body %>
</p>

<p>
  <strong>Description:</strong>
  <%= @source.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @source.user_id %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @source.developer_id %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
