<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br>
    <%= f.text_field :purpose %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :hostname %><br>
    <%= f.text_field :hostname %>
  </div>
  <div class="field">
    <%= f.label :parent_process %><br>
    <%= f.text_field :parent_process %>
  </div>
  <div class="field">
    <%= f.label :process_id %><br>
    <%= f.number_field :process_id %>
  </div>
  <div class="field">
    <%= f.label :service %><br>
    <%= f.text_field :service %>
  </div>
  <div class="field">
    <%= f.label :notice %><br>
    <%= f.text_field :notice %>
  </div>
  <div class="field">
    <%= f.label :node_id %><br>
    <%= f.number_field :node_id %>
  </div>
  <div class="field">
    <%= f.label :criticality %><br>
    <%= f.number_field :criticality %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :machine_id %><br>
    <%= f.number_field :machine_id %>
  </div>
  <div class="field">
    <%= f.label :server_id %><br>
    <%= f.number_field :server_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :network %><br>
    <%= f.text_field :network %>
  </div>
  <div class="field">
    <%= f.label :network_id %><br>
    <%= f.number_field :network_id %>
  </div>
  <div class="field">
    <%= f.label :manager_id %><br>
    <%= f.number_field :manager_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :developer_id %><br>
    <%= f.number_field :developer_id %>
  </div>
  <div class="field">
    <%= f.label :pubserver_id %><br>
    <%= f.number_field :pubserver_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
