<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @application.purpose %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application.description %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @application.hostname %>
</p>

<p>
  <strong>Parent process:</strong>
  <%= @application.parent_process %>
</p>

<p>
  <strong>Process:</strong>
  <%= @application.process_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @application.service %>
</p>

<p>
  <strong>Notice:</strong>
  <%= @application.notice %>
</p>

<p>
  <strong>Node:</strong>
  <%= @application.node_id %>
</p>

<p>
  <strong>Criticality:</strong>
  <%= @application.criticality %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @application.priority %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @application.machine_id %>
</p>

<p>
  <strong>Server:</strong>
  <%= @application.server_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @application.user_id %>
</p>

<p>
  <strong>Network:</strong>
  <%= @application.network %>
</p>

<p>
  <strong>Network:</strong>
  <%= @application.network_id %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @application.manager_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @application.developer_id %>
</p>

<p>
  <strong>Pubserver:</strong>
  <%= @application.pubserver_id %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
