<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @department.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @department.string %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @department.integer %>
</p>

<p>
  <strong>Text:</strong>
  <%= @department.text %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
